<!DOCTYPE html>
<html lang="en">
<head>
   <title>Mongo Scraper</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta charset="utf-8">
    <link rel="stylesheet" content="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="../../public/assets/css/style.css">
</head>
<body>
 
    {{{body}}}
 
</body>
</html>